{% extends "base.html.twig" %}

{% block body %}
<style>
    body {
        background-image: url(http://maximumwallhd.com/wp-content/uploads/2017/03/wallpaper-image-animaux-en-ete-15.jpg);
        background-size: cover;
    }
</style>
<div class="container-fluid">
    <div class="row">
        {{form_start(form)}}
        {{form_widget(form)}}
        <button class="btn btn-warning">Sign up</button>
        {{form_end(form)}}
    </div>
</div>
{% endblock body %}