{% extends "base.html.twig" %}

{% block body %}
<style>
  body {
      background-image: url(https://s2.best-wallpaper.net/wallpaper/3840x2160/1712/Happy-dog-colorful-eggs-grass_3840x2160.jpg);
      background-size: cover;
  }
</style>

{% if errors %}
    <div class="alert alert-danger">{{ errors.messageKey|trans(errors.messageData, 'security') }}</div>
{% endif %}
<form action="{{ path('login') }}" method="POST">
    <label for="username">Username :</label>
    <input type="username" name="_username" id="username" value="{{username}}">
    <label for="password">Password :</label>
    <input type="password" name="_password" id="password">
    <button class="btn btn-info">Login</button>
</form>

{% endblock body %}
